@charset "UTF-8";

* {
     font-family: Arial, Helvetica, sans-serif;
}

/*global*/

/*body*/

body {
    background-color: #F0F0F0;
    display: block;
    width: 800px;
    margin: auto;
    text-align: center;
    border: 2px solid #130208;
}

.chat {

    background-color: white;

}

#title {
    margin: 3px;
}

.text {
    border: 1px solid #130208;
    background-color: #130208;
    color: whitesmoke;
    padding: 1vh;
}

.input_message {
    margin: 50px;
    width: 400px;
    height: 200px;
    align-items: center;
    border: 2px solid #130208;
    background-color: #F0F0F0;
}

.button {
    display: inline-block;
    align-items: center;
    margin: 10px;
    padding-right: 10px;
}

.section_message {

    background-color: #F0F0F0;
    border: 2px solid #130208;
    color: #130208;
    margin: 10px;
    padding-bottom: 20px;
    max-height: 30vh;
    overflow-y: scroll;

}

.logo_image {

    width: 10vh;

}