body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    flex-flow: column;
    gap: 5vh;
    align-items: center;
    background-color:black;
}
h1{
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_container {

    background-color: white;
    display:inline-block ;
    align-items: center;
    border-radius: 20px;
}

.header {
    background-color: #130208;
    border:10px #c4c4c4;
    color: whitesmoke;
    padding: 1vh;
    display: flex;
    margin: 1.5vh;
    border-radius: 15px;
}
    
/* No newline at end of file
    background-color: #03045e;
    padding: 10px;
    border-radius: 8px;
    color: #c4c4c4;
}*/
.calculadora{
    display: flex;
    flex-flow: column;
    background-color: #130208;
    height: 30vw;
    width: 30vw;
    border-radius: 4%;
    padding:10px;
}
.headercalc{
    padding: 10px;
    font-size: 1.5em;
    background-color: #130208;
    display: flex;
    flex-flow:row nowrap;
    gap: 5px;
    flex-shrink: 2;
    border-radius: 8px 8px 0 0 ;
    color: white;
}
.headercalc input{
    width: auto;
}
h2{
    background-color: #c4c4c4;
    border-radius: 8px;
    padding: 2px 0 2px 5px;
    color: #130208;
}
textarea{
    background-color: #c4c4c4;
    padding: 0px;
    margin: 0px;
    color: #130208;
}

.logo_image {

    width: 10vh;

}
